body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* Done Change */
  padding: 32px;
  margin: 12px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* Done Change */
  margin-bottom: 48px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* Done Change */
  padding: 32px;
  margin-left:auto;
}

.four {
  background: azure;
  border: 3px solid brown;
  width: 200px;
  /* Done Change */
  padding: 32px;
  margin-right:auto;
}